<div class="container">
   <script>

      $.ajax({
         type: "POST",
         url: "../../../vacancies/" + <%= params[:vacancy_id] %> + "/get_modules"
      }).done(function (response) {
         console.log(response);
         buildVacancy(response);
      });

      function buildVacancy(modules_from_db) {
         $.each(modules_from_db, function(index) {
            $("#modules-from-db").append("<div class='selected-module' data-width='" + modules_from_db[index]["width"] + "'><span class='module-text'>" + modules_from_db[index]["name"] + "</span></div>");
         });

         $(".selected-module").css('width', function() {
            return (($(this).data("width") * 23) + "%" );
         });
      }

      $(document).ready(function() {
         $("#on-off-checkbox").change(function() {
            if(this.checked) {
               $(".save-button a").removeClass("red-button").addClass("green-button");
            } else {
               $(".save-button a").removeClass("green-button").addClass("red-button");
            }
         });

         $("#open-save-popup").on("click", function() {
            $("#save-popup").fadeIn(200);
         });

         $("#close-icon").on("click", function() {
            $("#save-popup").fadeOut(200);
         });
      });
   </script>

   <div id="modules-from-db" class="modules-container">

   </div>

   <div class="progress-bar">
      <div class="progress-bar-content">
        <!-- <a href="#" class="pull-left"> <i class="fa fa-arrow-left" aria-hidden="true"></i></a> -->
        <span class="progress-bar-item"><span class="progress-bar-number">1</span>Basis Gegevens</span>
        <span class="progress-bar-item"><span class="progress-bar-number">2</span>Modules toevoegen</span>
        <span class="progress-bar-item active"><span class="progress-bar-number">3</span>Opslaan</span>
        <!-- <a href="#" class="pull-right" style="margin-right: 0;"> <i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
         <!-- <a href="/vacancies/<%= params[:vacancy_id] %>" class='xpressy-button red-button'>Opslaan</a> -->
         <button id="open-save-popup" class="xpressy-button red-button">Opslaan</button>

         <div id="save-popup" class="save-popup-window" style="display:none;">
            <div class="popup-text">
               <p>Wilt u de vacature online of offline zetten?</p>
            </div>
            <div id="close-icon" class="close-icon">
               <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="choices">
               <div class="on-off-switch">
                  <label class="switch">
                     <input type="checkbox" id="on-off-checkbox">
                     <div class="slider round"></div>
                  </label>
               </div>

               <div class="save-button">
                  <a href="/vacancies/<%= params[:vacancy_id] %>" class='xpressy-button red-button'>Opslaan</a>
               </div>
            </div>

         </div>

      </div>
   </div>
</div>
