.user-wrapper {
	background: $light-primary-blue;
	margin: auto;
	text-align:center;
	padding:50px;
	margin-top:50px;
	margin-bottom: 50px;
	border-radius:10px;


	input[type="file"] {
		margin: auto;
		padding: 40px;
	}


	label {
		padding: 10px;
		color: $white;
	}

}
