.form-title{
  margin-bottom: 30px;
}

.progress-bar{
  background: $dark-blue;
  width: 100%;

  .progress-bar-content{
    background: $dark-blue;
    width: 100%;
    max-width: 800px;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    margin: 0 auto;
    float: none;

    a{
      margin-right: 20px;
    }

    span{
      background: $white;
      color: $dark-blue;
      padding: 5px 12px 5px 12px;
      border-radius: 20px;
      margin-right: 10px;
    }

    i{
      font-size: 20px;
      padding: 5px;
      background: $important-red;
    }
  }
}

// Grid
#grid-snap {
  width: 40%;
  background-color: #29e;
  color: #fff;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 2%;
  margin: 5%;
}
