.form-title{
  margin-bottom: 30px;
}

.progress-bar{
  background: $dark-blue;
  width: 100%;
  height: 50px !important;
  position: fixed;
  bottom: 50px;
  left: 0;
  margin-top: 100px;

  .progress-bar-content{
    background: $dark-blue;
    width: 100%;
    max-width: 800px;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    margin: 0 auto;
    float: none;

    span.progress-bar-item {
      margin-right: 20px;
    }

    span.active {
      color: $primary-blue;

      span.progress-bar-number {
         background: $primary-blue;
      }
   }

    span.progress-bar-number {
      background: $white;
      color: $dark-blue;
      padding: 5px 12px 5px 12px;
      border-radius: 20px;
      margin-right: 10px;
    }

    i{
      font-size: 20px;
      padding: 5px;
      background: $important-red;
    }
  }
}

span.module-text {
   font-weight: bold;
}

.sortable-ghost  {
   background-color: #ccc !important;
}

.modules-pick-zone {
   padding-top: 20px;

   .modules-list-group {
      .modules-list-item {
         padding: 20px 10px;
         background-color: $white;
         border-bottom: 2px solid $light-grey;
         cursor: pointer;

         span.size-control {
            display: none;
         }

         &:hover, &:active {
            background-color: $light-blue;
         }
      }
   }
}

.modules-drop-zone {
   background: url('Achtergrond.jpg') repeat-y;
   background-size: 100%;
   margin-top: 20px;

   .picked-modules-group {
      .modules-list-item {
         background-color: $light-blue;
         min-height: 200px;
         width: 23%;
         float: left;
         margin: 1em 8px;
         display: block;
         border-radius: 5px;
         text-align: center;
         position: relative;

         span.module-text {
            font-size: 20px;
            color: #777 !important;
            font-weight: 500;
         }

         span.size-control {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 20px;
            margin: 5px 10px;

         }

         span.remove-width-control {
            cursor: pointer;
         }

         span.add-width-control {
            margin-left: 10px;
            cursor: pointer;
         }
      }

      .modules-list-item > .module-text {
         line-height: 200px;
      }
   }
}

// Grid
#grid-snap {
  width: 40%;
  background-color: #29e;
  color: #fff;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 2%;
  margin: 5%;
}
