.vacancy-wrapper{
  text-align: center;
  background: $primary-blue;
  color: #fff;
  min-height: 300px;

  h2{
    background: #fff;
    padding: 10px 0 10px 0;

    a{
      color: #000;
      text-decoration: none;
    }
  }

  p{
    font-size: 16px;
    padding: 0 10px 0 10px;
  }

  .fa-plus-circle{
        font-size: 220px;
  }
}

.vacancy-options{
  background: $white;
  margin-top: -10px;
  padding: 5px 10px 5px 10px;

  a{
    color: $black;
    text-decoration: none;

    &:hover, &:focus {
      color: $light-primary-blue;
    }
  }
}

.options-bar{
  padding: 15px 0 10px;
  margin-bottom: 30px;
  background: $secondary-color;

  .btn-group{
    width: 100%;

    #btn-text{
      width: 90%;
      background: $white;
      color: #666;
      text-align: left;
    }

    #btn-arrow{
      width: 10%;
    }
  }

  select{
  width: 100%;
  }

  h2{
    background: $light-primary-blue;
    margin: 0px;
    padding: 5px 5px 5px 15px;

    a{
      text-decoration: none;
    }
  }

  button{
    margin: 0;
    border: 1px solid $primary-blue;
    border-radius: 5px;
    color: $white;
    background: $primary-blue;
  }
}


