<header class="sub-header">
   <ul>
      <li><%= link_to "Back", vacancy_path(@vacancy) %></li>

      <% if user_signed_in? %>
         |
         <li><%= link_to "Delete", vacancy_path(@vacancy), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
   </ul>
</header>
<h1>Edit vacancy</h1>

<%= render 'form' %>
