<header class="sub-header">
   <ul>
      <li><%= link_to "Back", root_path %></li>
   </ul>
</header>

<div class="tabs tabs-style-shape">
  <nav>
    <ul>
      <li>
        <a href="#section-shape-1">
          <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
          <span>Basis Gegevens</span>
        </a>
      </li>
      <li>
        <a href="#section-shape-2">
          <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
          <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
          <span>Modules</span>
        </a>
      </li>
      <li>
        <a href="#section-shape-3">
          <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
          <svg viewBox="0 0 80 60" preserveAspectRatio="none"><use xlink:href="#tabshape"></use></svg>
          <span>Laatste Instellingen</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="content-wrap">
    <center> <h1>Vacature aanmaken</h1></center>

    <%= render 'form' %>
  </div><!-- /content -->
</div><!-- /tabs -->


