<!-- Deel 1: Basisgegevens -->
<header class="sub-header form-title">
  <center> <h3>Vacature aanmaken - Basisgegeven invullen</h3></center>
</header>

<div class="content-wrap">
  <%= render 'form' %>
</div><!-- /content -->

<div class="progress-bar">
<div class="progress-bar-content">
  <!-- <a href="#" class="pull-left"> <i class="fa fa-arrow-left" aria-hidden="true"></i></a> -->
  <a href="#"> <span>1</span>Basis Gegevens</a>
  <a href="#"> <span>2</span>Modules toevoegen</a>
  <a href="#"> <span>3</span>Opslaan</a>
  <!-- <a href="#" class="pull-right" style="margin-right: 0;"> <i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
</div>
</div>
