<header class="sub-header form-title">
  <center> <h3>Vacature aanmaken - Basisgegeven invullen</h3></center>
</header>

<div class="content-wrap">
  <%= render 'form' %>
</div><!-- /content -->

<div class="progress-bar">
  <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
  <a href="#">1 Basis Gegevens</a>
  <a href="#">2 Modules toevoegen</a>
  <a href="#">3 Opslaan</a>
  <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
</div>
