<div class="row">
  <div class="col-sm-3 sidenav">

  </div>

  <div class="col-sm-3 sidenav">

  </div>

  <div class="col-sm-6">
    <img src="http://placehold.it/1000x1000" class="img-responsive">
  </div>
</div>
