<div class="container">
<div class="row">
  <div class="col-sm-3 sidenav">
    <div class="vacancy active">
      <p>Visual Design <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>
    </div>
    <div class="vacancy">
      <p>Front end dev <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>
    </div>
    <div class="vacancy">
      <p>Backend dev <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>
    </div>
    <div class="vacancy">
      <p>Online marketeer <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>
    </div>
  </div>

  <div class="col-sm-3 sidenav">
    <div class="candidate">
      <p>Karen Wiersma</p>
    </div>
    <div class="candidate">
      <p>Brum Honingh</p>
    </div>
    <div class="candidate">
      <p>Coen Slet</p>
    </div>
    <div class="candidate">
      <p>Kim Bilstra</p>
    </div>
    <div class="candidate active">
      <p>Niels Ettema</p>
    </div>
    <div class="candidate">
      <p>Koen van der Baan</p>
    </div>

  </div>

  <div class="col-sm-6">
    <img src="http://placehold.it/1000x1000" class="img-responsive">
  </div>
</div>
</div>
