// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

.container{
  max-width: 1480px !important;
}

/**
 * Basic styles for links
 */
a {
   color: $anchor-color;
   font-weight: bold;
   text-decoration: none;

   &:link, &:visited {
      color: $anchor-color;
      text-decoration: none;
   }

   &:hover, &:focus {
    color: $hover-color;
     text-decoration: none;
   }
}

body {
   margin: 0 0 50px 0;
   padding: 0;
   color: #fff;
   background-color: $secondary-color;
   font-family: 'Open Sans', sans-serif;
  background: $white;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

header{
  background: $primary-blue;
  nav{
    img{
      max-width: 50px;
      height: 50px;
      padding: 5px 0 5px;
    }
  }
}

footer {
  margin-top: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $primary-blue;
  z-index:9999;
  img{
    max-height: 100%;
    padding: 8px;
  }
}

ul {
   padding: 0;
   list-style: none;
}

input, textarea {
   color: $black;
}

input[type=submit], .button, button, select {
   background-color: $dark-secondary-color;
   color: $white;
   border: 2px solid $dark-secondary-color;
   padding: 10px 15px;
   margin-top: 10px;
   font-weight: bold;

   &:hover, &:focus {
      background-color: $secondary-color;
      color: $dark-secondary-color;
   }
}

select {
   min-width: 150px;
   margin-top: 0px;
}
