// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
   color: $white;
   font-weight: bold;
   text-decoration: underline;

   &:link, &:visited {
      color: $white;
   }

   &:hover, &:focus {
      color: $secondary-color;
   }
}

body {
   margin: 0;
   padding: 0;
   color: #fff;
   

  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

ul {
   padding: 0;
   list-style: none;
}


.alert{
    padding: 15px;
    margin-bottom: 20px;
    background: rgba(81, 173, 98, 0.53);
    border: green 3px solid;
    color: white;
    font-size: 16px;
}

