/**
 * Basic typography style for copy text
 */
body {
  color: $black;
  font: $text-font-stack;
}

h1 {
   text-transform: uppercase;
   color: $black;
   font-family: $h1-font;
   font-size: 26px;

}

h2{
	font-family: $h2-font;
	color: $black;
	font-size: 22px;
}

h3{
	font-family: $h2-font;
	color: $white;
	font-size: 16px;
}

p{
	font-size: 13px !important;
	color: $text-color;
}