/**
 * Basic typography style for copy text
 */
body {
  color: $black;
  font: $text-font-stack;
}

h1 {
   text-transform: uppercase;
   color: $black;
   font-family: $h1-font;

}

h2{
	font-family: $h2-font;
	color: $black;
}

h3{
	font-family: $h2-font;
	color: $white;
}
