<div class="col-md-6 reaction-wrapper">
   <p>
      <b>Name: </b><br />
      <%= reaction.name %>
   </p>
   <p>
      <b>Email: </b><br />
      <%= reaction.email %>
   </p>
   <p>
      <b>Reaction: </b><br />
      <%= reaction.body %>
   </p>

   <% if user_signed_in? %>
      <p><%= link_to "Delete", [reaction.vacancy, reaction], method: :delete, data: { confirm: "Are you sure?" } %></p>
   <% end %>

   <br />
</div>
