// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    width: 100%;
    background-color: $primary-blue;
    padding: 20px 0px 10px 0px;

    ul {
      text-align: center;

      li {
         display: inline-block;
         margin: 0px 10px;

         a {
            &:hover, &:focus {
               color: $secondary-color;
            }
         }
      }
   }
}

// Sub header
.sub-header {
   width: 100%;
   background-color: $light-primary-blue;
   padding: 10px 0px;

   ul {
      text-align: center;

      li {
         display: inline-block;

         a {
            &:hover, &:focus {
               color: $secondary-color;
            }
         }
      }
   }
}
