// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$white: #fff;
$black: #000;

$primary-color: #2d3e50;


// dark blue opacity background
$light-primary-color: rgba(102, 102, 102, 0.8);

// blue button color
$dark-secondary-color: #1b6a92;

// color for hover
$secondary-color: #104e6d; 

// Google font for h1 titles
$h1-font: 'Nunito Sans';

// Google font for h2 titles
$h2-font:'Exo 2';

/// Google font for normal P text 
$text-font-stack: 'Exo 2' !default;

// normal p text color
$text-color: #fff !default;





/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
