// All the inputfields scss are in this stylesheet

.avatar_button {
	background: red;
	&[type=file]{
		background:green;
	}
}

select {
	width: 90%;
    margin-top: 0px;
    max-width: 402px;
    height: 50px;
}

.kaede--textarea{

  span{
    height: 150px !important;
  }

  textarea{
    resize: none;
  }
}