// All the inputfields scss are in this stylesheet

.avatar_button {
	background: red;
	&[type=file]{
		background:green;
	}
}

select {
	width: 95%;
  margin-top: 0px;
  max-width: 402px;
  height: 50px;
  cursor: pointer;
}

.kaede--textarea{

  span{
    height: 150px !important;
  }

  textarea{
    resize: none;
  }
}


.input__label-content--kaede{
    padding: 3px;
    font-size: 15px;
    font-family: $input;
    font-weight: lighter;

}

.input__field{
  font-family: $input;
  font-size: 16px;
  font-weight: lighter;

}

.user-wrapper label{
    padding: 10px;
    font-size: 16px;
}

input, textarea {
   color: $black;
}

input[type=submit], .button, button, select {
    background-color: $dark-secondary-color;
    color: #fff;
    border: none;
    padding: 20px 36px;
    margin-top: 10px;
    font-size: 16px;

   &:hover, &:focus {
      background-color: $secondary-color;
   }
}

