@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'bootstrap-sprockets',
  'bootstrap',
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/form',
  'components/onoffswitch',
  'components/button';

// 6. Page-specific styles
@import
  'pages/users',
  'pages/login',
  'pages/company_index',
  'pages/vacancy_index',
  'pages/vacancy_show',
  'pages/vacancy_new';

// 7. Themes
@import
  'themes/default';
