<header class="sub-header">
   <ul>
      <li><%= link_to "Back", locations_path %></li>

      <% if user_signed_in? %>
         |
         <li><%= link_to "Delete", location_path(@location), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
   </ul>
</header>
<h1>Edit location</h1>

<%= render 'form' %>
