<div class="container">
<div class="row">
  <div class="col-sm-3 sidenav">
    <%= link_to (raw('<p>Bedrijfsgegevens<i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>')), companies_path, class:"" %>
    <%= link_to (raw('<p class="active">Bedrijfslocatie toevoegen<i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>')), new_company_location_path(@company), class:"" %>
    <%= link_to (raw('<p>Gebruiker toevoegen<i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>')), new_user_path, class:"" %>
  </div>

   <div class="col-sm-9 company-container">
  <%= render 'form' %>
  </div>
</div>
</div>
